<!DOCTYPE html>
<html>
  <head>
    <title>Temple</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all' %>
    <%= javascript_include_tag 'application' %>
      <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900" rel="stylesheet">
      <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  </head>

  <body>
    <section id="admin">
    <div class="sidebar">
    <%= render 'shared/topbar' if controller_name == 'home'  or controller_name == 'products'%>
    <%= render 'shared/sidebar' if controller_name == 'home'  or controller_name == 'products'%>
    </div>
    <div class="content">
      <div class="head">
        <%= render 'shared/head' if controller_name == 'home' or controller_name == 'products'%>
          <p class="notice"><%= notice %></p> <!--add this line-->
          <p class="alert"><%= alert %></p>  <!--add this line-->
        <%= yield %>
          <% if user_signed_in?%>
  <%=current_user.email %>
  <%= link_to "로그아웃", destroy_user_session_path, method: :delete%>
  <%else%>
  <%= link_to "로그인",new_user_session_path%>
  <%end%>
       </div>
    </div>
    </section>
    <%= yield 'javascript_content'%>

  </body>
</html>
